<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Museu Trezedemaio</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Use Thymeleaf absolute path for static resources -->
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
<div class="main-container">
    <div class="login-box">

        <div class="logo-container">
            <img th:src="@{/img/logo_treze.png}" alt="Logo Museu Trezedemaio" class="logo-img">
        </div>

        <form th:action="@{/login}" method="post" class="form-container">

            <input id="username" type="text" name="username" placeholder="Usuário" class="input-field" required>

            <input id="password" type="password" name="password" placeholder="Senha" class="input-field" required>

            <a th:href="@{/}" class="forgot-password">Esqueci a senha</a>

            <button type="submit" class="login-button">Entrar</button>
        </form>

    </div>
</div>
</body>
</html>